{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}
    <h1>App</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ app.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ app.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_index') }}">back to list</a>

    <a href="{{ path('app_edit', {'id': app.id}) }}">edit</a>

    {{ include('app/_delete_form.html.twig') }}
{% endblock %}
